.ride-container {
  height: 620px;
  background-color: rgba(0,0,0,0.5);
  box-sizing: border-box;
}

.ride-container-nav {
  padding-top: 10px;
  border-bottom: 1px solid #292727;
  height: 50px;
  background-color: #aba996;
}

.update-rides {
  float: right;
  padding-top: 5px;
  border: 2px solid #000000;
  border-radius: 5px;
  margin: 0 10px 10px 0;
  height: 40px;
  width: 150px;
  background-color: transparent;
  box-sizing: border-box;
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
}

.update-rides:hover {
  border-color: #FFFFFE;
  color: #FFFFFE;
  box-shadow: 0px 0px 1px 0px #FFFFFE;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  padding: 20px 0;
  margin: auto;
  height: 560px;
  width: 95vw;
  box-sizing: border-box;
  overflow: scroll;
}

.none-found {
  color: #FFFFFE;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  text-align: center;
}

@media screen and (max-width: 610px) {
  .update-rides {
    margin: 0 5px 5px 0;
    width: 120px;
  }
}

@media screen and (max-width: 450px) {
  .ride-container {
    height: 375px;
  }

  .ride-container-nav {
    padding-top: 5px;
    height: 28px;
  }

  .card-container {
    padding: 5px 0;
    border-radius: 0px;
    height: 375px;
    width: 100vw;
  }

  .update-rides {
    padding-top: 3px;
    border: 1px solid #000000;
    margin: 0 5px 5px 0;
    height: 25px;
    width: 100px;
    font-size: 12px;
  }
}