.ride-card {
  display: inline-block;
  border: 1px solid #292727;
  border-radius: 13px;
  margin: 0 auto 50px auto;
  height: 450px;
  width: 300px;
  background-color: rgba(206, 204, 193, 0.9);
  box-sizing: border-box;
  box-shadow: 0px 0px 3px 0px #292727;
}

.ride-trail-name,
.ride-location,
.ride-summary,
.ride-stats,
.ride-distance,
.ride-time {
  color: #292727;
}

.ride-date,
.ride-trail-name {
  font-family: 'Raleway', sans-serif;
}

.ride-location,
.ride-summary,
.ride-stats,
.ride-distance,
.ride-time {
  font-family: 'Lato', sans-serif;
}

.ride-header {
  position: relative;
  top: 0;
  height: 230px;
}

.ride-date {
  position: absolute;
  top: 10px;
  right: 0px;
  padding: 2px 5px 2px 0;
  border-radius: 4px 4px 0 0;
  width: 100%;
  background-color: rgba(0,0,0, 0.6);
  box-sizing: border-box;
  color: #e4e4c5;
  text-align: right;
  z-index: 10;
}

.ride-image {
  position: absolute;
  top: 0;
  border: 1px solid #49403c;
  border-radius: 10px 10px 0 0;
  height: 230px;
  width: 296px;
}

.ride-header div {
  position: absolute;
  top: 11px;
  left: 10px;
  border: 1px solid #000000;
  border-radius: 5px;
  height: 16px;
  width: 16px;
  background-color: #fff;
  background-size: 12px 12px;
  background-repeat: no-repeat;
  background-position: 2px 2px;
  z-index: 100;
}

.ride-header .greenBlue {
  background-image: url('images/green.png'), url('images/blue.png');
  background-size: 10px 10px;
  background-position: 3px 3px;
}

.blueBlack {
  background-image: url('./images/blue-black.png');
}

.ride-header .blue {
  background-image: url('images/blue.png');
  background-size: 10px 10px;
  background-position: 3px 3px;
}

.black {
  background-image: url('./images/black.png');
  background-color: #fff;
}

.green {
  background-image: url('./images/green.png');
  background-color: #fff;
}

.ride-trail {
  margin: 10px auto;
  height: 120px;
  width: 90%;
  text-align: center;
}

.ride-trail-name {
  margin-bottom: 5px;
  font-size: 22px;
  font-weight: 700;
}


.ride-location {
  margin-bottom: 10px;
  font-size: 18px;
  font-style: italic;
}

.ride-summary {
  font-size: 14px;
}

.ride-stats {
  margin: auto;
  width: 90%;
}

.ride-distance {
  margin-bottom: 5px;
}

.type {
  margin-right: 5px;
  font-size: 18px;
  font-weight: 800;
}

@media screen and (max-width: 450px) {
  .ride-image {
    position: absolute;
    top: 0;
    border: 1px solid #49403c;
    border-radius: 10px 10px 0 0;
    height: 230px;
    width: 100%;
  }
}



