main {
  height: 620px;
  background-color: #f8f7ee;
  background-image: url('images/possible-bkgrnd.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 450px) {
  main {
    height: 410px;
  }
}