.bike-container {
  height: 617px;
  box-sizing: border-box;
}

.bike-card-container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
  border-radius: 10px;
  margin: auto;
  height: 617px;
  width: 99vw;
  background-color: rgba(0,0,0,0.5);
  box-sizing: border-box;
  overflow: scroll;
}