.App footer {
  border-top: 1px solid #292727;
  height: 60px;
  background-color: #312318;
}

.api-logos {
  display: flex;
  justify-content: space-around;
  padding-top: 5px;
  margin: auto;
  height: 50px;
  width: 30vw;
}

.strava-logo {
  width: 200px;
}

.mtb-logo {
  width: 90px;
}

@media screen and (max-width: 450px) {
  .App footer {
    height: 56px;
  }

  .api-logos {
    margin: auto;
    height: 50px;
    width: 90vw;
  }

  .strava-logo {
    width: 160px;
  }

  .mtb-logo {
    width: 90px;
  }
}