.month-form {
  float: left;
  padding-top: 7px;
  border: 2px solid #b1b19d;
  margin: 0 0 10px 10px;
  height: 40px;
  width: 310px;
  background-color: transparent;
  box-sizing: border-box;
  color: #b1b19d;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
}

#month {
  border: none;
  margin: 0 0 0 10px;
  width: 150px;
  background-color: rgba(81, 92, 40, 0.7);
  color: #b1b19d;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}
