.login-page {
  height: 100vh;
  background-image: url('./images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  text-align: center;
}

.login-container {
  padding-top: 250px;
  margin: auto;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
}

.login-logo {
  margin-bottom: 40px;
  color: #F9F8F2;
  font-family: 'Sedgwick Ave Display', cursive;
  font-size: 56px;
}

.authorize-strava {
  border: none;
  height: 40px;
  width: 160px;
  background-color: transparent;
  background-image: url('../../strava-brand-images/btn_strava_connectwith_orange.svg');
  background-size: cover;
  box-sizing: content-box;
}

.authorize-strava:hover {
  border: 2px solid #CECCC1;
}

.enter-site {
  padding: 2px 10px;
  border: 1px solid #EB592A;
  border-radius: 5px;
  height: 40px;
  width: 160px;
  background-color: #EB592A;
  color: #F9F8F2;
  font-family: 'Raleway', sans-serif;
  font-size: 42px;
  text-align: center;
  text-decoration: none;
}

.enter-site:hover {
  background-color: #F9F8F2;
  color: #EB592A;
}




