body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/*mountain at dusk*/
 /*  orangy-brown #c98263 (201,130,99)
lighter brown #8b675e (139,103,94)
chocolateish #49403c (73,64,60)
brown-gray #423a35 (66,58,53)
 dark blue/gray #292727 (41,39,39)*/
/*

mountain outcrop
  #515c28 (81,92,40)
#5a4331 (90,67,49)
#6b5849 (107,88,73)
#727167 (114,113,103)
#58553b (88,85,59)*/


/*fonts*/
/*font-family: 'Sedgwick Ave Display', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Raleway', sans-serif;*/