.app-header {
  border-bottom: 1px solid #292727;
  height: 100px;
  background-color: #515c28;
}

.logo-link {
  outline: none;
}

.logo {
  float: left;
  margin: 20px 20px;
  width: 300px;
  background-image: url('./images/logo-img.png');
  background-size: 64px 60px;
  background-repeat: no-repeat;
  background-position: 210px 0px;
  color: #FFFFFE;
  font-family: 'Sedgwick Ave Display', cursive;
  font-size: 64px;
}

.user-info {
  float: right;
  clear: right;
  border-radius: 25px;
  height: 70px;
  width: 250px;
}

.user-profile-picture {
  float: right;
  margin: 10px 10px;
  width: 55px;
  border-radius: 30px;
}

.user-name,
.user-location {
  text-align: right;
  font-family: 'Raleway', sans-serif;
  color: #FFFFFE;
}

.user-name {
  margin: 20px 0 3px 0;
}

.logout {
  float: right;
  display: block;
  padding: 2px;
  border: 1px solid #000000;
  border-radius: 5px;
  margin: 5px 10px 0 0;
  width: 70px;
  color: #000000;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  text-decoration: none;
}

.logout:hover {
  border-color: #FFFFFE;
  color: #FFFFFE;
  text-decoration: underline;
}