.app-nav {
  display: inline-block;
  padding-top: 50px;
  height: 60px;
  width: 30vw;
  box-sizing: border-box;
}

.nav-btn {
  padding: 5px;
  border: 2px solid #b1b19d;
  height: 40px;
  width: 150px;
  box-sizing: border-box;
  color: #b1b19d;
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  text-align: center;
  text-decoration: none;
}

.nav-btn:hover {
  border-color: #FFFFFE;
  box-shadow: 0px 0px 1px 0px #FFFFFE;
  color: #FFFFFE;
}

.active-nav {
  border: 2px solid #292727;
  color: #292727;
}