.main-content-wrapper {
  padding-top: 50px;
  height: 620px;
  background-color: #f8f7ee;
}

.main-content {
  padding-top: 200px;
  border: 1px solid #515c28;
  border-radius: 20px;
  margin: auto;
  height: 500px;
  width: 80vw;
  min-width: 300px;
  background-image: url('./images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  box-shadow: 0px 0px 2px 3px #515c28;
}

.main-content-text {
  padding-top: 30px;
  border: 1px solid #727167;
  border-radius: 15px;
  margin: auto;
  height: 100px;
  width: 60%;
  background-color: rgba(81, 92, 40, 0.5);
  box-sizing: border-box;
  box-shadow: 0px 0px 2px 2px #727167;
}

.main-tagline {
  color: #d2cdad;
  font-family: 'Sedgwick Ave Display', cursive;
  font-size: 56px;
  text-align: center;
}

